* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

    h1 {
        color: var(--color-pastel, yellow);
        background-color: var(--color-strong, teal);
    }

    input {
        display: block;
    }

    p {
        font-family: 'Shadows Into Light', cursive;
    }

    .text-field {
        font-family: 'Dancing Script', cursive;
        font-size:  1.5em;
        text-align: center;
        width: min-content;
    }

.padre {
    --color-background: #E1FFEE;
    --color-strong: #7FBCD2;
    --color-llamativo: #A5F1E9;
    --color-important: #1cc49d;
    --color-pastel: #FFEEAF;
    --color-black: #1b2f31;
    background-color: var(--color-background, white);
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Dancing Script', cursive;
    align-content: center; 
    text-align: center;  
}

    .section {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }
    
        .article {
            flex: 1 1 40%;
            align-content: center;
            align-items: center;
        }

        .boton {
        flex: 1 1 100%;
        
        }

        .buttonclick {
            color: var(--color-pastel);
            background-color: var(--color-strong, black);
            border-radius: 10px;
            border-color: var(--color-pastel);
            justify-content: center;
            align-items: center;
            height: 2em;
            width: auto;
            font-family: 'Shadows Into Light', cursive;
            font-size: 4em;

        }
        .buttonclick:hover {
            color: #1b2f31;
            background-color: #1cc49d;
        }

    .footer {
        border-style: solid;
        border-width: 0.5em;
        border-radius: 5%;
        border-color: var(--color-pastel);
        background-color: var(--color-pastel);
        font-size: 2em;
    }

@media all and (max-width: 800px) {
    *{
        padding: 0;
    }
    .section {
        flex-flow:column;
    }
}