* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-background: #483838;
    --color-strong: #EB1D36;
    --color-llamativo: #A5F1E9;
    --color-important: #1cc49d;
    --color-pastel: #FFEEAF;
    --color-black: #1b2f31;
    --color-white: whitesmoke;
}

body {
    background-color: var(--color-white);
}
    h1 {
        color: var(--color-white, whitesmoke);
        background-color: var(--color-strong, red);
        font-family: 'Shadows Into Light', cursive;
        font-weight: 400;
        padding: 10px;
    }

    p {
        font-family: 'Shadows Into Light', cursive;
    }

    h1, input, button {
        margin: 10px auto 10px;
        border: 2px solid var(--color-black);
        border-radius: 5px;
        padding: 10px;
        max-width: 600px;
    }

    button {
        color:var(--color-pastel);
    }
    
    input {
        margin: 10px auto 10px;
    }
    
    input:hover {
        border: 2px solid var(--color-important);
        background-color: var(--color-llamativo);
        cursor:pointer
    }

.text-field {
    font-family: 'Dancing Script', cursive;
    font-size:  1.5em;
    text-align: center;
    width: min-content;
}

.padre {

    background-color: var(--color-white);
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Dancing Script', cursive;
    align-content: center; 
    text-align: center;
}

    .section {
        border: 2px solid var(--color-black);
        /* background-color: var(--color-black); */
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }
    
        .article {
            flex: 1 1 40%;
            align-content: center;
            align-items: center;
            min-width: 300px;
        }

        .boton {
        flex: 1 1 100%;
        
        }

    .buttonclick {
        color: whitesmoke;
        background-color: var(--color-strong, red);
        border-radius: 1opx;
        border-color: var(white);
        justify-content: center;
        align-items: center;
        height: 2em;
        width: auto;
        font-family: 'Shadows Into Light', cursive;
        font-size: 2em;
        padding-bottom: 2em;

    }
    .buttonclick:hover {
        color: #1b2f31;
        background-color: #1cc49d;
    }

    .footer {
        background-color: var(--color-white);
        font-size: 2em;
        max-width: 600px;
        align-items: center;
        margin: auto;;
        padding: 20px;
    }

@media all and (max-width: 800px) {
    *{
        margin: 15px auto;
        padding: 20 px;
    }
    .section {
        flex-flow:column;
    }
}