* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
    
:root {   
    --color-background: #483838;
    --color-strong: #EB1D36;
    --color-llamativo: #7861de;
    --color-important: #2904cd;
    --color-pastel: #FFEEAF;
    --color-black: #1b2f31;
    --color-white: #f5f5f5;
    --color-gradient: linear-gradient(to bottom right, #2904cd, #EB1D36);
}

body {
    background-color: var(--color-white);
}
    h1 {
        color: var(--color-white, whitesmoke);
        background-color: var(--color-strong, red);
        font-family: 'Shadows Into Light', cursive;
        font-weight: 400;
        padding: 10px;
    }

    p {
        font-family: 'Shadows Into Light', cursive;
    }

    h1, input, button {
        margin: 20px auto 10px;
        border: 2px outset var(--color-important);
        border-radius: 5px;
        padding: 10px;
        max-width: 600px;
    }

    button {
        color:var(--color-pastel);
    }
    
    /* input {
        margin: 10px auto 10px;
    } */
    
    input:hover {
        border: 2px solid var(--color-important);
        background-color: var(--color-gradient);
        color: var(--color-white);
        cursor:pointer;
    }

.text-field {
    font-family: 'Dancing Script', cursive;
    font-size:  1.5em;
    text-align: center;
    display: block;
}

.padre {
    border: 2px outset var(--color-strong);
    border-radius: 5px;
    background: var(--color-gradient);
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Dancing Script', cursive;
    align-content: center; 
    text-align: center;
    margin: 5vw auto;
    width: 80vw;
    height: auto;
}

    .section {
        /* border: 2px solid var(--color-black); */
        /* background: var(--color-gradient); */
        border-radius: 5px;
        display: flex;
        flex-flow: row wrap;
        margin: 3vw auto;

    }
    
        
    .article {
            display: block;
            flex: 1 1 40%;
            align-items: center;
            justify-content: space-evenly;
            min-width: 300px;
            margin: 15px auto;
        }

        .boton {
        flex: 1 1 100%;
        margin-top: 5%;
        
        }

    .buttonclick {
        color: whitesmoke;
        background-color: var(--color-strong, red);
        border-radius: 5px;
        border-color: var(--color-white);
        justify-content: center;
        align-items: center;
        height: 2em;
        width: auto;
        font-family: 'Shadows Into Light', cursive;
        font-size: 2em;
        padding-bottom: 2em;

    }
    .buttonclick:hover {
        color: var(--color-white);
        background-color: var(--color-llamativo);
        font-weight: bolder;
    }

    .footer {
        /* background-color: var(--color-strong); */
        color: var(--color-white);
        max-width: 600px;
        font-size: 3em;
        font-weight: bolder;
        align-items: center;
        margin: auto;;
        padding: 20px;
        width:auto;
        height: 3em;
    }

@media all and (max-width: 800px) {
    *{
        margin: 15px auto;
        padding: 20 px;
    }
    .section {
        flex-flow:column;
    }
}